body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.5;
    color: #333;
    background-color: #f8f9fa; /* Soft background color */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0px;
    border: 10px solid #f8f9fa;
}

th, td {
    border: 1px solid #d6d6d6;
    padding: 0px 2px; /* Adjusted padding to make rows narrower */
    text-align: left;
}

th {
    background-color: #595959;
    color: white; /* White text on black headers */
}

td {
    background-color: white;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 150px; /* or any value that suits your design */
}

tr:hover td {
    background-color: #e9e9e9; /* Highlight row on hover for better UX */
}

.controls {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 5px; /* Some padding around the controls */
    background-color: #f8f9fa; /* Soft background color */
}
#backupControls {
    display: flex;
    gap: 10px; /* Add a 10px gap between child elements */
}

button, .upload-label {
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    transition: all 0.3s;
    cursor: pointer;
}

button {
    background-color: #80c883; /* Green */
    color: white;
}

button:hover {
    background-color: #45a049;
}

.settings-icon {
    font-size: 25px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
}

.settings-icon:hover {
    color: #80c883; /* Green color on hover */
}

.upload-label {
    background-color: #80c883;
    color: white;
}

.upload-label:hover {
    background-color: #4CAF50;
}
.action-column {
    width: 110px;
    text-align: left;
    white-space: nowrap;
}
.key-column {
    width: 250px; /* Or whatever fixed width you prefer */
}

#searchInput {
    border: 10px solid #d6d6d6;
    width: 270px;
    box-sizing: border-box;
}
.search-container {
    display: flex;
    justify-content: space-between; /* Positions the search input on the left and the button on the right */
    color: #80c883
}
#resetSearch {
    font-size: 10px;
    color: #333;
    padding: 0 5px;
}

.link-column {
    width: 50px; /* Or any width that suits your design */
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td input[type="text"] {
    width: 100%; /* Make input take up the full width of the cell */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 4px; /* Add some padding inside the input */
    border: 1px solid #d6d6d6; /* Add a border to the input */
}
